/.idea/workspace.xml
/.idea/tasks.xml
/.idea/shelf
/node_modules
package-lock.json
yarn-error.log
npm-debug.log*
*.js
*.d.ts
*.js.map
!/types/*.d.ts

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/