/.idea
/tsconfig.json
/tsconfig.test.json
/.eslintignore
/.github
/.prettierignore
/renovate.json
/.snyk
*.ts
!*.d.ts

# yarn and npm
package-lock.json
yarn.lock
yarn-error.log
npm-debug.log*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/