name: CI
on: [push, pull_request]
env:
  CI: true
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
  DEPLOY_NODE_VERSION: 16.x
jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]
    steps:
      - name: Find yarn cache
        id: find-yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: git checkout
        uses: actions/checkout@v2
      - name: Cache yarn dependencies
        uses: actions/cache@v2
        with:
          path: ${{steps.find-yarn-cache.outputs.dir}}
          key: ${{runner.os}}-node${{matrix.node-version}}-yarn-${{hashFiles('**/yarn.lock')}}
          restore-keys: ${{runner.os}}-node${{matrix.node-version}}-yarn-
      - name: Set up Node.js v${{matrix.node-version}}
        uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node-version}}
      - run: yarn
      - run: yarn test
      - run: yarn lint
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - name: Find yarn cache
        id: find-yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: git checkout
        uses: actions/checkout@v2
      - name: Cache yarn dependencies
        uses: actions/cache@v2
        with:
          path: ${{steps.find-yarn-cache.outputs.dir}}
          key: ${{runner.os}}-node${{env.DEPLOY_NODE_VERSION}}-yarn-${{hashFiles('**/yarn.lock')}}
          restore-keys: ${{runner.os}}-node${{env.DEPLOY_NODE_VERSION}}-yarn-
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{env.DEPLOY_NODE_VERSION}}
      - run: yarn
      - run: yarn semantic-release
